.parent{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    position: fixed;
    border-right-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-style: solid;
    /* display: inline-block; */
}

.start_div {
    font-family: Helvetica, Arial, sans-serif;
    border-width: 0px;
    align-items: center;
    padding: 0px;
    display: inline-block;
    margin-top: 20px;
    text-align: start;
}

.start_button {
    cursor: pointer;
    background-color: #1ff218;
    font-size: 20px;
    padding: 0.5em;
    height: 50px;
    width: 160px;
    border-radius: 10px;
    border-width: 0px;
}

.start_button:hover {
    box-shadow: '10px 5px 5px #BEBEBE';
    background-color: #18ba13;
}

.start_button_caption {
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    color: grey;
}

.gauge_chart{
    margin-top: auto;
    margin-bottom: 100px;
    text-align: center;
}

